<h1>LOGIN</h1>
<form action="/users/login" method="post">
    <label for="email:">Email:</label>
    <input type="email" name="email" id="email" />
    <label for="password:">Password:</label>
    <input type="password" name="password" id="password" />
    <input type="submit" value="LOGIN" />
</form>

<h2>¿USUARIO NUEVO?</h2>
<button onclick="location.href='/register'">Registrarse</button>

<button onclick="location.href='/views/register-github'">Ingresar con Github</button>